<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12 col-md-6 order-md-1">
          <div class="card animated fadeInUp animation-delay-7">
            <div class="ms-hero-bg-primary ms-hero-img-mountain">
              <h3 class="color-white index-1 text-center no-m pt-4"><%=currentUser.username%></h3>
              <img src="img/demo/m1.png" alt="..." class="img-avatar-circle">
            </div>
            <div class="card-body pt-4 text-center">
              <h3 class="color-primary" id="avatar"></h3>
              <p></p>
              <div class="card card-primary animated fadeInUp animation-delay-12">
                <table class="table table-no-border table-striped">
                  <tr>
                    <th>
                      <i class="zmdi zmdi-account mr-1 color-success"></i> Name</th>
                    <td><%=currentUser.username%></td>
                  </tr>
                  <tr>
                    <th>
                      <i class="mr-1 zmdi zmdi-graduation-cap zmdi-hc-fw color-success" id="level"></i> Points</th>
                    <td>
                      <%=currentUser.score%>

                    </td>
                  </tr>
                  <tr>
                    <th>
                      <i class="mr-1 zmdi zmdi-seat zmdi-hc-fw color-royal"></i>Progress</th>
                    <td>
                      <%=Math.ceil(currentUser.score/12000 *100)%>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <i class="mr-1 zmdi zmdi-seat zmdi-hc-fw color-royal"></i>Questions Attempted</th>
                    <td>
                      <%= currentUser.questions%>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <i class="mr-1 zmdi zmdi-seat zmdi-hc-fw color-royal"></i>Number Questions Correct</th>
                    <td id="numberCorrect">
                      <%= currentUser.number%>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <i class="mr-1 zmdi zmdi-seat zmdi-hc-fw color-royal"></i>Shape Questions Correct</th>
                    <td>
                      <%= currentUser.shape%>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <i class="mr-1 zmdi zmdi-seat zmdi-hc-fw color-royal"></i>Algebra Questions Correct</th>
                    <td>
                      <%= currentUser.algebra%>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <i class="mr-1 zmdi zmdi-seat zmdi-hc-fw color-royal"></i>Data Questions Correct</th>
                    <td>
                      <%= currentUser.data%>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <i class="mr-1 zmdi zmdi-seat zmdi-hc-fw color-royal"></i>Number Questions Wrong</th>
                    <td>
                      <%= currentUser.numberError%>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <i class="mr-1 zmdi zmdi-seat zmdi-hc-fw color-royal"></i>Shape Questions Wrong</th>
                    <td>
                      <%= currentUser.shapeError%>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <i class="mr-1 zmdi zmdi-seat zmdi-hc-fw color-royal"></i>Algebra Questions Wrong</th>
                    <td>
                      <%= currentUser.algebraError%>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <i class="mr-1 zmdi zmdi-seat zmdi-hc-fw color-royal"></i>Data Questions Wrong</th>
                    <td>
                      <%= currentUser.dataError%>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
              <div class="col-lg-12 col-md-12 order-md-3 order-lg-2">
                <a href="/users/<%=currentUser.id %>" class="btn btn-warning btn-raised btn-block animated fadeInUp animation-delay-12">
                  <i class="zmdi zmdi-shield-check"></i> My Progress Summary</a>        
              </div>
        <div class="col-lg-12 col-md-6 order-md-2 order-lg-3">
          <div class="card animated fadeInUp animation-delay-12">


          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="row">
        <div class="col-sm-4">
        <a href = "/basics">
          <div class="card card-success card-body overflow-hidden text-center wow zoomInUp animation-delay-2">
            <h2 class="counter color-dark">Build the Basics</h2>
            <i class="fa fa-4x fa-trophy color-dark"></i>
            <p class="mt-2 no-mb lead small-caps color-dark">Enter</p>
          </div>
          </a>
        </div>
        <div class="col-sm-4">
        <a href = "/problemsolving/menu">
          <div class="card card-success card-body overflow-hidden text-center wow zoomInUp animation-delay-2">
            <h2 class="counter color-secondary">Problem Solving</h2>
            <i class="fa fa-4x fa-trophy color-secondary"></i>
            <p class="mt-2 no-mb lead small-caps color-secondary">Enter</p>
          </div>
          </a>
        </div>
        
        <div class="col-sm-4">
        <a href = "/pastpapers">
          <div class="card card-success card-body overflow-hidden text-center wow zoomInUp animation-delay-2">
            <h2 class="counter color-warning">Past Papers  
            </h2>
            <i class="fa fa-4x fa-trophy color-warning"></i>
            <p class="mt-2 no-mb lead small-caps color-warning">Enter</p>
          </div>
          </a>
        </div>
      </div>

      <div class="card card-success animated fadeInUp animation-delay-12">
        <div class="card-header">
          <h3 class="card-title">
            <i class="zmdi zmdi-library"></i> Build The Basics</h3>
        </div>
      </div>
      <!--
topic list
-->
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <a class="list-group-item list-group-item-action withripple active">&#x278A;
              Number Calculations <span class="ml-auto "><i class=" fa fa-mortar-board"></i> Difficulty
                Level</span></a>
            <a href="/basics/addsubtract" class="list-group-item list-group-item-action withripple">
              &#9312; Column Addition and Subtraction <span class="ml-auto "><i
                  class=" fa fa-mortar-board"></i></span></a>
            <a href="/basics/multiplyIntegers" class="list-group-item list-group-item-action withripple">
              &#9313; Multiplication of Whole Numbers
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i></span></a>
            <a href="/basics/multiplydecimals" class="list-group-item list-group-item-action withripple">
              &#9314; Multiplication of Decimals
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <a class="list-group-item list-group-item-action withripple active">
              &#x278B; Fractions</a>
              <a href="/basics/multiplyfractions" class="list-group-item list-group-item-action withripple">
              &#9312; Multiplication of Fractions <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i
                  class=" fa fa-mortar-board"></i></span></a>
            <a href="/basics/addfractions" class="list-group-item list-group-item-action withripple">
              &#9313; Adding Fractions <span class="ml-auto "><i
                  class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i><i
                  class=" fa fa-mortar-board"></i></span></a>
            <a href="/basics/subtractfractions" class="list-group-item list-group-item-action withripple">
              &#9314; Subtracting Fractions<span class="ml-auto "><i class=" fa fa-mortar-board"></i><i
                  class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i></span> </a>
            <a href="/basics/dividingfractions" class="list-group-item list-group-item-action withripple">
              &#9315; Dividing Fractions<span class="ml-auto "><i class=" fa fa-mortar-board"></i><i
                  class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i></span> </a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <a class="list-group-item list-group-item-action withripple active">
              &#x278C; Converting Percentages, Fractions and Decimals</a>
            <a href="/basics/DtoF" class="list-group-item list-group-item-action withripple">
              &#9312; Decimals to Fractions
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i></span>
            </a>
            <a href="/basics/FtoD" class="list-group-item list-group-item-action withripple">
              &#9313; Fractions to Decimals
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i><i
                  class=" fa fa-mortar-board"></i></span>
            </a>
            <a href="/basics/FtoP" class="list-group-item list-group-item-action withripple">
              &#9314; Fractions to Percentages<span class="ml-auto "><i class=" fa fa-mortar-board"></i><i
                  class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i></span></a>
            <a href="/basics/DtoP" class="list-group-item list-group-item-action withripple">
              &#9315; Decimals to Percentages
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i><i
                  class=" fa fa-mortar-board"></i></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <a class="list-group-item list-group-item-action withripple active">
              &#x278D;Division</a>
            <a href="/basics/shortdivision" class="list-group-item list-group-item-action withripple">
              &#9312; Short Division
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i></span>
            </a>
            <a href="/basics/longdivision" class="list-group-item list-group-item-action withripple">
              &#9313; Long Division
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <a class="list-group-item list-group-item-action withripple active">
              &#x278E; Algebra</a>
            <a href="/basics/algebraintro" class="list-group-item list-group-item-action withripple">
              &#9312; Intro to Algebra<span class="ml-auto "><i class=" fa fa-mortar-board"></i><i
                  class=" fa fa-mortar-board"></i></span></a>
            <a href="/basics/algebrasolve" class="list-group-item list-group-item-action withripple">
              &#9313; Solving Algebraic Equations<span class="ml-auto "><i class=" fa fa-mortar-board"></i><i
                  class=" fa fa-mortar-board"></i></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <a href="" class="list-group-item list-group-item-action withripple active">
              &#x278F; Ratio and Proportion</a>
            <a href="/basics/ratiodivide" class="list-group-item list-group-item-action withripple">
              &#9312; How to divide by a ratio
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i></span>
            </a>
            <a href="/basics/ratiototal" class="list-group-item list-group-item-action withripple">
              &#9313; How to find the total amount
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i><i
                  class=" fa fa-mortar-board"></i></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <a class="list-group-item list-group-item-action withripple active">
              &#x2791; Angles and Shapes</a>
            <a href="/basics/anglesStraightLine" class="list-group-item list-group-item-action withripple">
              &#9312; Angles on a Straight Line sum to 180
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i></span>
            </a>
            <a href="/basics/anglepoint" class="list-group-item list-group-item-action withripple">
              &#9313; Angles around a point sum to 360
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i></span></a>

            <a href="/basics/anglesTriangle" class="list-group-item list-group-item-action withripple">
              &#9314; Angles inside a Triangle <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i
                  class=" fa fa-mortar-board"></i></span>
            </a>
            <a href="/basics/anglesTriangle2" class="list-group-item list-group-item-action withripple">
              &#9315; Angles in a Triangle and on a Straight Line
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i></span>
            </a>
            <a href="/basics/anglequad" class="list-group-item list-group-item-action withripple">
              &#9316; Angles inside a quadrilateral<span class="ml-auto "><i class=" fa fa-mortar-board"></i><i
                  class=" fa fa-mortar-board"></i></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <a class="list-group-item list-group-item-action withripple active">
              &#x2791; Perimeter, Area and Volume</a>
            <a href="/basics/anglesStraightLine" class="list-group-item list-group-item-action withripple">
              &#9312; Perimeter of 2D shapes
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i></span>
            </a>
            <a href="/basics/areasquare" class="list-group-item list-group-item-action withripple">
              &#9313; Area of Squares and Rectangles
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i></span></a>

            <a href="/basics/anglesTriangle" class="list-group-item list-group-item-action withripple">
              &#9314; Area of Triangles <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i
                  class=" fa fa-mortar-board"></i></span>
            </a>
            <a href="/basics/anglesTriangle2" class="list-group-item list-group-item-action withripple">
              &#9315; Volume
              <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i class=" fa fa-mortar-board"></i></span>
            </a>
            
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <a class="list-group-item list-group-item-action withripple active">
              &#x2792; Data
              <a href="/basics/barcharts" class="list-group-item list-group-item-action withripple">
                &#9312; Bar Charts<span class="ml-auto "><i class=" fa fa-mortar-board"></i><i
                    class=" fa fa-mortar-board"></i></span>
              </a>
              <a href="/basics/averages1" class="list-group-item list-group-item-action withripple">
                &#9313; Calculate the mean<span class="ml-auto "><i class=" fa fa-mortar-board"></i><i
                    class=" fa fa-mortar-board"></i></span></a>
              <a href="/basics/averages2" class="list-group-item list-group-item-action withripple">
                &#9314; Averages (Mode, Mean and Median)<span class="ml-auto "><i class=" fa fa-mortar-board"></i><i
                    class=" fa fa-mortar-board"></i></span></a>
              <a href="/basics/piecharts" class="list-group-item list-group-item-action withripple">
                &#9315; Pie Charts <span class="ml-auto "><i class=" fa fa-mortar-board"></i><i
                    class=" fa fa-mortar-board"></i></span></a>
          </div>
        </div>
      </div>

    </div>
    <footer class="ms-footer">
    <div class="col-lg-12 ms-paper-content-container">
  <div class="ms-paper-content">
      
        <p>Copyright SnowyTop Maths 2020</p>
        
    
      </div>
      </div>
    </footer>
    <div class="btn-back-top">
      <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
        <i class="zmdi zmdi-long-arrow-up"></i>
      </a>
    </div>

    <!-- ms-site-container -->
    <div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
      <div class="sb-slidebar-container">
        <header class="ms-slidebar-header">

          <div class="ms-slidebar-title">

            <div class="ms-slidebar-t">

              <h3>SnowyTop
                <span>Maths</span>
              </h3>
            </div>
          </div>
        </header>
        <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
          <li class="card" role="tab" id="sch1">
            <a class="collapsed" role="button" data-toggle="collapse" href="#sc1" aria-expanded="false"
              aria-controls="sc1">
              <i class="zmdi zmdi-home"></i> Number </a>
            <ul id="sc1" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch1"
              data-parent="#slidebar-menu">
              <!--
              <li>
                <a href="/addsubtract">Addition and Subtraction</a>
              </li>
-->
              <li>
                <a href="/multdiv">Multiply and Divide</a>
              </li>
              <li>
                <a href="/fractions">Fractions</a>
              </li>
              <li>
                <a href="/percentages">Percentages</a>
              </li>
              <li>
                <a href="/time">Time</a>
              </li>
              <li>
                <a href="/prime">Primes &amp; Factors</a>
              </li>
              <li>
                <a href="/ratio">Ratio</a>
              </li>
            </ul>
          </li>
          <li class="card" role="tab" id="sch2">
            <a class="collapsed" role="button" data-toggle="collapse" href="#sc2" aria-expanded="false"
              aria-controls="sc2">
              <i class="zmdi zmdi-desktop-mac"></i> Algebra </a>
            <ul id="sc2" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch2"
              data-parent="#slidebar-menu">
              <li>
                <a href="page-about.html">Sequences</a>
              </li>
              <li>
                <a href="/wordedproblems">Worderd Problems</a>
              </li>
              <li>
                <a href="/equations">Equations</a>
              </li>
            </ul>
          </li>
          <li class="card" role="tab" id="sch4">
            <a class="collapsed" role="button" data-toggle="collapse" href="#sc4" aria-expanded="false"
              aria-controls="sc4">
              <i class="zmdi zmdi-edit"></i> Shape </a>
            <ul id="sc4" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch4"
              data-parent="#slidebar-menu">
              <!--
              <li>
                <a href="/perimeter">Perimeter</a>
              </li>
              <li>
                <a href="/area">Area</a>
              </li>
              <li>
                <a href="/volume">Volume</a>
              </li>
-->

            </ul>
          </li>
          <li class="card" role="tab" id="sch5">
            <a class="collapsed" role="button" data-toggle="collapse" href="#sc5" aria-expanded="false"
              aria-controls="sc5">
              <i class="zmdi zmdi-shopping-basket"></i> Data </a>
            <ul id="sc5" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch5"
              data-parent="#slidebar-menu">
            </ul>
          </li>

        </ul>
        <li>
          <a href="/logout">Logout <%=currentUser.username %></a>
        </li>
      </div>
    </div>

    
<% include ../partials/footer %></div>