<% include ./partials/header %>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12 col-md-6 order-md-1">
          <div class="card animated fadeInUp animation-delay-7">
            <div class="ms-hero-bg-primary ms-hero-img-mountain">
              <h3 class="color-white index-1 text-center no-m pt-4"><%=currentUser.username%></h3>
              <img src="img/demo/m1.png" alt="..." class="img-avatar-circle">
            </div>
            <div class="card-body pt-4 text-center">
              <h3 class="color-primary" id="avatar"></h3>
              <p></p>
              <div class="card card-primary animated fadeInUp animation-delay-12">
                <table class="table table-no-border table-striped">
                  <tr>
                    <th>
                      <i class="zmdi zmdi-account mr-1 color-success"></i> Name</th>
                    <td><%=currentUser.username%></td>
                  </tr>
                  <tr>
                    <th>
                      <i class="mr-1 zmdi zmdi-graduation-cap zmdi-hc-fw color-success" id="level"></i> Points</th>
                    <td>
                      <%=currentUser.score%>

                    </td>
                  </tr>
                  <tr>
                    <th>
                      <i class="mr-1 zmdi zmdi-seat zmdi-hc-fw color-royal"></i>Progress</th>
                    <td>
                      <%=Math.ceil(currentUser.score/12000 *100)%>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <i class="mr-1 zmdi zmdi-seat zmdi-hc-fw color-royal"></i>Questions Attempted</th>
                    <td>
                      <%= currentUser.questions%>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
              <div class="col-lg-12 col-md-12 order-md-3 order-lg-2">
                <p href="/users" class="btn btn-warning btn-raised btn-block animated fadeInUp animation-delay-12">
                  <i class="zmdi zmdi-shield-check"></i> My Students</p>        
              </div>
        <div class="col-lg-12 col-md-6 order-md-2 order-lg-3">
          <div class="card animated fadeInUp animation-delay-12">


          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="row">
        <div class="col-sm-4">
        <p href = "/basics/index">
          <div class="card card-success card-body overflow-hidden text-center wow zoomInUp animation-delay-2">
            <h2 class="counter color-dark">Build the Basics</h2>
            <i class="fa fa-4x fa-trophy color-dark"></i>
            <p class="mt-2 no-mb lead small-caps color-dark">Enter Course</p>
          </div>
          </p>
        </div>
        <div class="col-sm-4">
        <p href = "/problemsolving/menu">
          <div class="card card-success card-body overflow-hidden text-center wow zoomInUp animation-delay-2">
            <h2 class="counter color-secondary">Problem Solving</h2>
            <i class="fa fa-4x fa-trophy color-secondary"></i>
            <p class="mt-2 no-mb lead small-caps color-secondary">Enter Course</p>
          </div>
          </p>
        </div>
        
        <div class="col-sm-4">
        <p href = "/pastpapers/list">
          <div class="card card-success card-body overflow-hidden text-center wow zoomInUp animation-delay-2">
            <h2 class="counter color-warning">Practice Papers  
            </h2>
            <i class="fa fa-4x fa-trophy color-warning"></i>
            <p class="mt-2 no-mb lead small-caps color-warning">Enter Course</p>
          </div>
          </p>
        </div>
      </div>

      
      <!--
topic list basics
-->
<div class="card card-success animated fadeInUp animation-delay-12">
        <div class="card-header">
          <h3 class="card-title">
            <i class="zmdi zmdi-library"></i> Build The Basics</h3>
        </div>
      </div>
<div class="col-md-12">
<div class="card card-success animated fadeInUp animation-delay-12">
  <div class="list-group">
    <p class="list-group-item list-group-item-action withripple active">&#x278A;
      Number Calculations <span class="ml-auto ">
      
      </span>
    </p>
    <p href="/basics/addsubtract" class="list-group-item list-group-item-action withripple">
      &#9312; Column Addition and Subtraction <span class="ml-auto ">
      <button type="button" id="BasicsChapter1Button1" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
          </span></p>
    <p href="/basics/multiplyIntegers" class="list-group-item list-group-item-action withripple">
      &#9313; Multiplication of Whole Numbers
      <span class="ml-auto ">
        <button type="button" id="BasicsChapter1Button2" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span></p>
    <p href="/basics/multiplydecimals" class="list-group-item list-group-item-action withripple">
      &#9314; Multiplication of Decimals
      <span class="ml-auto "><button type="button" id="BasicsChapter1Button3" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button></span>
    </p>
  </div>
</div>
</div>
<div class="col-md-12">
<div class="card card-success animated fadeInUp animation-delay-12">
  <div class="list-group">
    <p class="list-group-item list-group-item-action withripple active">
      &#x278B; Fractions</p>
      <p href="/basics/multiplyfractions" class="list-group-item list-group-item-action withripple">
      &#9312; Multiplication of Fractions <span class="ml-auto ">
        <button type="button" id="BasicsChapter2Button1" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span></p>
    <p href="/basics/addfractions" class="list-group-item list-group-item-action withripple">
      &#9313; Adding Fractions <span class="ml-auto ">
      <button type="button" id="BasicsChapter2Button2" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button></span></p>
    <p href="/basics/subtractfractions" class="list-group-item list-group-item-action withripple">
      &#9314; Subtracting Fractions<span class="ml-auto ">
      <button type="button" id="BasicsChapter2Button3" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span> </p>
    <p href="/basics/dividingfractions" class="list-group-item list-group-item-action withripple">
      &#9315; Dividing Fractions<span class="ml-auto ">
      <button type="button" id="BasicsChapter2Button4" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span> </p>
  </div>
</div>
</div>
<div class="col-md-12">
<div class="card card-success animated fadeInUp animation-delay-12">
  <div class="list-group">
    <p class="list-group-item list-group-item-action withripple active">
      &#x278C; Converting Percentages, Fractions and Decimals</p>
    <p href="/basics/DtoF" class="list-group-item list-group-item-action withripple">
      &#9312; Decimals to Fractions
      <span class="ml-auto ">
        <button type="button" id="BasicsChapter3Button1" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span>
    </p>
    <p href="/basics/FtoD" class="list-group-item list-group-item-action withripple">
      &#9313; Fractions to Decimals
      <span class="ml-auto "><button type="button" id="BasicsChapter3Button2" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button></span>
    </p>
    <p href="/basics/FtoP" class="list-group-item list-group-item-action withripple">
      &#9314; Fractions to Percentages<span class="ml-auto ">
      <button type="button" id="BasicsChapter3Button3" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span></p>
    <p href="/basics/DtoP" class="list-group-item list-group-item-action withripple">
      &#9315; Decimals to Percentages
      <span class="ml-auto ">
        <button type="button" id="BasicsChapter3Button4" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span></p>
  </div>
</div>
</div>
<div class="col-md-12">
<div class="card card-success animated fadeInUp animation-delay-12">
  <div class="list-group">
    <p class="list-group-item list-group-item-action withripple active">
      &#x278D;Division</p>
    <p href="/basics/shortdivision" class="list-group-item list-group-item-action withripple">
      &#9312; Short Division
      <span class="ml-auto ">
      <button type="button" id="BasicsChapter4Button1" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span>
    </p>
    <p href="/basics/longdivision" class="list-group-item list-group-item-action withripple">
      &#9313; Long Division
      <span class="ml-auto ">
      <button type="button" id="BasicsChapter4Button2" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span>
    </p>
  </div>
</div>
</div>
<div class="col-md-12">
<div class="card card-success animated fadeInUp animation-delay-12">
  <div class="list-group">
    <p class="list-group-item list-group-item-action withripple active">
      &#x278E; Algebra</p>
    <p href="/basics/algebraintro" class="list-group-item list-group-item-action withripple">
      &#9312; Intro to Algebra<span class="ml-auto ">
      <button type="button" id="BasicsChapter5Button1" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
        </span></p>
    <p href="/basics/algebrasolve" class="list-group-item list-group-item-action withripple">
      &#9313; Solving Algebraic Equations<span class="ml-auto ">
      <button type="button" id="BasicsChapter5Button2" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
        </span></p>
  </div>
</div>
</div>
<div class="col-md-12">
<div class="card card-success animated fadeInUp animation-delay-12">
  <div class="list-group">
    <p href="" class="list-group-item list-group-item-action withripple active">
      &#x278F; Ratio and Proportion</p>
    <p href="/basics/ratiodivide" class="list-group-item list-group-item-action withripple">
      &#9312; How to divide by a ratio
      <span class="ml-auto ">
      <button type="button" id="BasicsChapter6Button1" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span>
    </p>
    <p href="/basics/ratiototal" class="list-group-item list-group-item-action withripple">
      &#9313; How to find the total amount
      <span class="ml-auto ">
      <button type="button" id="BasicsChapter6Button2" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
        </span></p>
  </div>
</div>
</div>
<div class="col-md-12">
<div class="card card-success animated fadeInUp animation-delay-12">
  <div class="list-group">
    <p class="list-group-item list-group-item-action withripple active">
      &#x2790; Angles and Shapes</p>
    <p href="/basics/anglesStraightLine" class="list-group-item list-group-item-action withripple">
      &#9312; Angles on a Straight Line sum to 180
      <span class="ml-auto ">
      <button type="button" id="BasicsChapter7Button1" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span>
    </p>
    <p href="/basics/anglepoint" class="list-group-item list-group-item-action withripple">
      &#9313; Angles around a point sum to 360
      <span class="ml-auto ">
      <button type="button" id="BasicsChapter7Button2" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
        </span>
        </p>

    <p href="/basics/anglesTriangle" class="list-group-item list-group-item-action withripple">
      &#9314; Angles inside a Triangle <span class="ml-auto ">
      <button type="button" id="BasicsChapter7Button3" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
          </span>
    </p>
    <p href="/basics/anglesTriangle2" class="list-group-item list-group-item-action withripple">
      &#9315; Angles in a Triangle and on a Straight Line
      <span class="ml-auto ">
      <button type="button" id="BasicsChapter7Button4" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span>
    </p>
    <p href="/basics/anglequad" class="list-group-item list-group-item-action withripple">
      &#9316; Angles inside a quadrilateral<span class="ml-auto ">
      <button type="button" id="BasicsChapter7Button5" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
          </span>
    </p>
  </div>
</div>
</div>
<div class="col-md-12">
<div class="card card-success animated fadeInUp animation-delay-12">
  <div class="list-group">
    <p class="list-group-item list-group-item-action withripple active">
      &#x2791; Perimeter, Area and Volume</p>
    <p href="/basics/anglesStraightLine" class="list-group-item list-group-item-action withripple">
      &#9312; Perimeter of 2D shapes
      <span class="ml-auto ">
      <button type="button" id="BasicsChapter8Button1" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span>
    </p>
    <p href="/basics/areasquare" class="list-group-item list-group-item-action withripple">
      &#9313; Area of Squares and Rectangles
      <span class="ml-auto ">
      <button type="button" id="BasicsChapter8Button2" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
        </span>
        </p>

    <p href="/basics/anglesTriangle" class="list-group-item list-group-item-action withripple">
      &#9314; Area of Triangles <span class="ml-auto ">
      <button type="button" id="BasicsChapter8Button3" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span>
    </p>
    <p href="/basics/anglesTriangle2" class="list-group-item list-group-item-action withripple">
      &#9315; Volume
      <span class="ml-auto ">
      <button type="button" id="BasicsChapter8Button4" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
      </span>
    </p>
    
  </div>
</div>
</div>
<div class="col-md-12">
<div class="card card-success animated fadeInUp animation-delay-12">
  <div class="list-group">
    <p class="list-group-item list-group-item-action withripple active">
      &#x2792; Data
      <p href="/basics/barcharts" class="list-group-item list-group-item-action withripple">
        &#9312; Bar Charts<span class="ml-auto ">
        <button type="button" id="BasicsChapter9Button1" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
        </span>
      </p>
      <p href="/basics/averages1" class="list-group-item list-group-item-action withripple">
        &#9313; Calculate the mean<span class="ml-auto ">
        <button type="button" id="BasicsChapter9Button2" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
          </span></p>
      <p href="/basics/averages2" class="list-group-item list-group-item-action withripple">
        &#9314; Averages (Mode, Mean and Median)<span class="ml-auto ">
        <button type="button" id="BasicsChapter9Button3" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
          </span></p>
      <p href="/basics/piecharts" class="list-group-item list-group-item-action withripple">
        &#9315; Pie Charts <span class="ml-auto ">
        <button type="button" id="BasicsChapter9Button4" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
          </span></p>
            <p href="/basics/piechartsangles" class="list-group-item list-group-item-action withripple">
        &#9316; Pie Charts and Angles<span class="ml-auto ">
        <button type="button" id="BasicsChapter9Button5" class="ui icon button" data-toggle="modal"
        data-target="#myModal4"><i class="paperclip icon"></i>
      </button>
          </span></p>
  </div>
</div>
</div>

<div class="card card-info animated fadeInUp animation-delay-12">
        <div class="card-header">
          <h3 class="card-title">
            <i class="zmdi zmdi-library"></i> Problem Solving</h3>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <p class="list-group-item list-group-item-action withripple active">&#x278A;
              Working with Numbers <span class="ml-auto "> Assign
                </span>
              </p>
            <p  class="list-group-item list-group-item-action withripple">
              &#9312; What Number Did I Start With? <span class="ml-auto "><button type="button" id="Chapter1Button1" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4">  <i class="paperclip icon"></i>
                </button> </span>
            </p>
            <p href="/problemsolving/addsubtract2" class="list-group-item list-group-item-action withripple">
              &#9313; Add, Subtract, Divide and Multiply 1 <span class="ml-auto ">
                  <button type="button" id="Chapter1Button2" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button></span>
            </p>
            <p href="/problemsolving/multdiv1" class="list-group-item list-group-item-action withripple">
              &#9314; Multiplication of Whole Numbers
              <span class="ml-auto ">
                  <button type="button" id="Chapter1Button3" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button></span></p>
            <p href="/problemsolving/addsubtract1" class="list-group-item list-group-item-action withripple">
              &#9315; Add and Subtract Integers
              <span class="ml-auto "><button type="button" id="Chapter1Button4" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
              </span>
            </p>
            <p href="/problemsolving/multdiv2" class="list-group-item list-group-item-action withripple">
              &#9316; Multiply and Divide Whole Numbers <span class="ml-auto "><button type="button" id="Chapter1Button5" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button></span></p>
            <p href="/problemsolving/multdiv3" class="list-group-item list-group-item-action withripple">
              &#9317; Multiply and Divide multi-Digit Numbers <span class="ml-auto "><button type="button" id="Chapter1Button6" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
            <p href="/problemsolving/multdiv4" class="list-group-item list-group-item-action withripple">
              &#9318; Missing Digit Multiplication<span class="ml-auto "><button type="button" id="Chapter1Button7" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span> 
            </p>
            <p href="/problemsolving/distance1" class="list-group-item list-group-item-action withripple">
              &#9319; Multiply and Divide with cm,m & km<span class="ml-auto ">
                  <button type="button" id="Chapter1Button8" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span> 
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <p class="list-group-item list-group-item-action withripple active">
              &#x278B; Fractions, Percentages and Decimals</p>
            <p href="/problemsolving/fractions1" class="list-group-item list-group-item-action withripple">
              &#9312; What is the missing fraction?
              <span class="ml-auto ">
              <button type="button" id="Chapter2Button1" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/fractions2" class="list-group-item list-group-item-action withripple">
              &#9313; Fractions of Amounts 1
              <span class="ml-auto ">
              <button type="button" id="Chapter2Button2" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/fractions3" class="list-group-item list-group-item-action withripple">
              &#9314; Fractions of Amounts 2
              <span class="ml-auto ">
              <button type="button" id="Chapter2Button3" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/fractionofamounts" class="list-group-item list-group-item-action withripple">
              &#9315; Fractions of Amounts 3
              <span class="ml-auto ">
              <button type="button" id="Chapter2Button4" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/percentages1" class="list-group-item list-group-item-action withripple">
              &#9316; Ordering Percentages, Fractions and Decimals
              <span class="ml-auto ">
              <button type="button" id="Chapter2Button5" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/FDP" class="list-group-item list-group-item-action withripple">
              &#9317; Converting Percentages, Fractions and Decimals
              <span class="ml-auto ">
              <button type="button" id="Chapter2Button6" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/percentageofamount" class="list-group-item list-group-item-action withripple">
              &#9318; Percentage of Amounts 1
              <span class="ml-auto ">
              <button type="button" id="Chapter2Button7" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <p class="list-group-item list-group-item-action withripple active">
              &#x278C; Sequences</p>
            <p href="/problemsolving/sequences1" class="list-group-item list-group-item-action withripple">
              &#9312; Find consecutive numbers that add up to 90
              <span class="ml-auto ">
              <button type="button" id="Chapter3Button1" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/sequences3" class="list-group-item list-group-item-action withripple">
              &#9313; Follow a given rule
              <span class="ml-auto ">
              <button type="button" id="Chapter3Button2" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/sequences2" class="list-group-item list-group-item-action withripple">
              &#9314; Newspaper Sequences<span class="ml-auto ">
              <button type="button" id="Chapter3Button3" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
            <p href="/problemsolving/sequences4" class="list-group-item list-group-item-action withripple">
              &#9315; Adding Consecutive Numbers
              <span class="ml-auto ">
              <button type="button" id="Chapter3Button4" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <p class="list-group-item list-group-item-action withripple active">
              &#x278D;Primes, Multiples, Squares and Factors</p>
            <p href="/problemsolving/prime2" class="list-group-item list-group-item-action withripple">
              &#9312; Add together primes to make a square
              <span class="ml-auto ">
                <button type="button" id="Chapter4Button1" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/isPrime" class="list-group-item list-group-item-action withripple">
              &#9313; Identify the Prime Number
              <span class="ml-auto ">
              <button type="button" id="Chapter4Button2" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/squares1" class="list-group-item list-group-item-action withripple">
              &#9314; Square Number Problems
              <span class="ml-auto ">
              <button type="button" id="Chapter4Button2" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/prime1" class="list-group-item list-group-item-action withripple">
              &#9315; Common Multiples <span class="ml-auto ">
              <button type="button" id="Chapter4Button3" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/lowestcommonmultiple" class="list-group-item list-group-item-action withripple">
              &#9316;Lowest Common Multiples <span class="ml-auto ">
              <button type="button" id="Chapter4Button4" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
          </div>
        </div>
      </div>

      <!--
            Insert new table here
-->
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <p class="list-group-item list-group-item-action withripple active">
              &#x278E; Time</p>

            <p href="/problemsolving/time1" class="list-group-item list-group-item-action withripple">
              &#9312; Taking a holiday<span class="ml-auto ">
              <button type="button" id="Chapter5Button1" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
            <p href="/problemsolving/time4" class="list-group-item list-group-item-action withripple">
              &#9313; Catching the train<span class="ml-auto ">
              <button type="button" id="Chapter5Button2" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
            <p href="/problemsolving/time5" class="list-group-item list-group-item-action withripple">
              &#9314; Catching the train 2<span class="ml-auto ">
              <button type="button" id="Chapter5Button3" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
            <p href="/problemsolving/time3" class="list-group-item list-group-item-action withripple">
              &#9315; Angles around a clock
              <span class="ml-auto ">
              <button type="button" id="Chapter5Button4" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/slowclock" class="list-group-item list-group-item-action withripple">
              &#9316; My watch is slow 1
              <span class="ml-auto ">
              <button type="button" id="Chapter5Button5" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/time2" class="list-group-item list-group-item-action withripple">
              &#9317; My watch is slow 2
              <span class="ml-auto ">
              <button type="button" id="Chapter5Button6" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <p href="" class="list-group-item list-group-item-action withripple active">
              &#x278F; Ratio and Proportion</p>
            <p href="/problemsolving/ratio1" class="list-group-item list-group-item-action withripple">
              &#9312; Dividing into a Ratio
              <span class="ml-auto ">
              <button type="button" id="Chapter6Button1" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/ratio3" class="list-group-item list-group-item-action withripple">
              &#9313; Inverse Proportion
              <span class="ml-auto ">
              <button type="button" id="Chapter6Button2" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
                  <p href="/problemsolving/ratio4" class="list-group-item list-group-item-action withripple">
              &#9314; Ratio and Angles
              <span class="ml-auto ">
              <button type="button" id="Chapter6Button3" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <p class="list-group-item list-group-item-action withripple active">
              &#x2790; Problems Solved with Algebra</p>
            <p href="/problemsolving/wordedalgebra1" class="list-group-item list-group-item-action withripple">
              &#9312; How many goals were scored? <span class="ml-auto ">
              <button type="button" id="Chapter7Button1" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/wordedalgebra2" class="list-group-item list-group-item-action withripple">
              &#9313; How old is Alan? <span class="ml-auto ">
              <button type="button" id="Chapter7Button2" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/wordedalgebra3" class="list-group-item list-group-item-action withripple">
              &#9314;Algebra Grids<span class="ml-auto ">
              <button type="button" id="Chapter7Button3" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
            <p href="/problemsolving/wordedalgebra4" class="list-group-item list-group-item-action withripple">
              &#9315; Abstract Worded Problems <span class="ml-auto ">
              <button type="button" id="Chapter7Button4" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
            <p href="/problemsolving/wordedalgebra5" class="list-group-item list-group-item-action withripple">
              &#9316; Algebra and Time <span class="ml-auto ">
              <button type="button" id="Chapter7Button5" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <p class="list-group-item list-group-item-action withripple active">
              &#x2791; Angles in Shapes</p>
            <p href="/problemsolving/shapes1" class="list-group-item list-group-item-action withripple">
              &#9312; Angles in Composite Regular Polygons
              <span class="ml-auto ">
              <button type="button" id="Chapter8Button1" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/shapes6" class="list-group-item list-group-item-action withripple">
              &#9313; Angles in Composite Polygons
              <span class="ml-auto ">
              <button type="button" id="Chapter8Button2" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <p class="list-group-item list-group-item-action withripple active">
              &#x2792; Area, Perimeter and Volume</p>
            <p href="/problemsolving/shapes5" class="list-group-item list-group-item-action withripple">
              &#9312; Area and Perimeter with Squares and Rectangles 1
              <span class="ml-auto ">
              <button type="button" id="Chapter9Button1" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
            <p href="/problemsolving/shapes3" class="list-group-item list-group-item-action withripple">
              &#9313; Areas inside other Areas <span class="ml-auto ">
              <button type="button" id="Chapter9Button2" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/shapes4" class="list-group-item list-group-item-action withripple">
              &#9314; Areas of Rectangles and Triangles<span class="ml-auto ">
              <button type="button" id="Chapter9Button3" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
            <p href="/problemsolving/volume" class="list-group-item list-group-item-action withripple">
              &#9315; Volume <span class="ml-auto ">
                <button type="button" id="Chapter9Button4" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
            <p href="/problemsolving/shapes2" class="list-group-item list-group-item-action withripple">
              &#9316; Area and Perimeter with Squares and Rectangles 2<span class="ml-auto ">
              <button type="button" id="Chapter9Button5" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/perimeteralgebra" class="list-group-item list-group-item-action withripple">
              &#9317; Perimeter with algebraic terms<span class="ml-auto ">
              <button type="button" id="Chapter9Button6" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
            <p href="/problemsolving/surfaceareapyramid" class="list-group-item list-group-item-action withripple">
              &#9318; Surface Area of Square-based Pyramids<span class="ml-auto ">
              <button type="button" id="Chapter9Button7" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <p class="list-group-item list-group-item-action withripple active">
              &#x2793; Averages</p>
              <p href="/problemsolving/meanaverage" class="list-group-item list-group-item-action withripple">
                &#9312; Problems with Mean<span class="ml-auto ">
                <button type="button" id="Chapter10Button1" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
              <p href="/problemsolving/averages" class="list-group-item list-group-item-action withripple">
                &#9313; Problems with Mean 2<span class="ml-auto ">
                <button type="button" id="Chapter10Button2" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
              <p href="/problemsolving/averages2" class="list-group-item list-group-item-action withripple">
                &#9314; Averages (Mode, Mean and Median)<span class="ml-auto ">
                <button type="button" id="Chapter10Button3" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-success animated fadeInUp animation-delay-12">
          <div class="list-group">
            <p class="list-group-item list-group-item-action withripple active">
            &#x278A;&#x278A; Pie Charts and Bar Charts</p>
              <p href="/problemsolving/data2" class="list-group-item list-group-item-action withripple">
                &#9312; Bar Charts and Averages<span class="ml-auto ">
                <button type="button" id="Chapter11Button1" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span>
              </p>
              <p href="/problemsolving/piecharts" class="list-group-item list-group-item-action withripple">
                &#9315; Pie Charts <span class="ml-auto ">
                <button type="button" id="Chapter11Button2" class="ui icon button" data-toggle="modal"
                    data-target="#myModal4"><i class="paperclip icon"></i>
                </button>
                </span></p>
          </div>
        </div>
    </div>
</div>


<div class="container">
    <p id="userId"><%=currentUser.id %> </p>
</div>

    <div class="btn-back-top">
        <p href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
        <i class="zmdi zmdi-long-arrow-up"></i>
        </p>
    </div>

    <!-- ms-site-container -->
    <div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
        <div class="sb-slidebar-container">
        <header class="ms-slidebar-header">

            <div class="ms-slidebar-title">

            <div class="ms-slidebar-t">

                <h3>SnowyTop
                <span>Maths</span>
                </h3>
            </div>
            </div>
        </header>
        <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
            <li class="card" role="tab" id="sch1">
            <p class="collapsed" role="button" data-toggle="collapse" href="#sc1" aria-expanded="false"
                aria-controls="sc1">
                <i class="zmdi zmdi-home"></i> Number </p>
            <ul id="sc1" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch1"
                data-parent="#slidebar-menu">
                <!--
                <li>
                <p href="/addsubtract">Addition and Subtraction</p>
                </li>
    -->
                <li>
                <p href="/multdiv">Multiply and Divide</p>
                </li>
                <li>
                <p href="/fractions">Fractions</p>
                </li>
                <li>
                <p href="/percentages">Percentages</p>
                </li>
                <li>
                <p href="/time">Time</p>
                </li>
                <li>
                <p href="/prime">Primes &amp; Factors</p>
                </li>
                <li>
                <p href="/ratio">Ratio</p>
                </li>
            </ul>
            </li>
            <li class="card" role="tab" id="sch2">
            <p class="collapsed" role="button" data-toggle="collapse" href="#sc2" aria-expanded="false"
                aria-controls="sc2">
                <i class="zmdi zmdi-desktop-mac"></i> Algebra </p>
            <ul id="sc2" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch2"
                data-parent="#slidebar-menu">
                <li>
                <p href="page-about.html">Sequences</p>
                </li>
                <li>
                <p href="/wordedproblems">Worded Problems</p>
                </li>
                <li>
                <p href="/equations">Equations</p>
                </li>
            </ul>
            </li>
            <li class="card" role="tab" id="sch4">
            <p class="collapsed" role="button" data-toggle="collapse" href="#sc4" aria-expanded="false"
                aria-controls="sc4">
                <i class="zmdi zmdi-edit"></i> Shape </p>
            <ul id="sc4" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch4"
                data-parent="#slidebar-menu">
                <!--
                <li>
                <p href="/perimeter">Perimeter</p>
                </li>
                <li>
                <p href="/area">Area</p>
                </li>
                <li>
                <p href="/volume">Volume</p>
                </li>
    -->

            </ul>
            </li>
            <li class="card" role="tab" id="sch5">
            <p class="collapsed" role="button" data-toggle="collapse" href="#sc5" aria-expanded="false"
                aria-controls="sc5">
                <i class="zmdi zmdi-shopping-basket"></i> Data </p>
            <ul id="sc5" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch5"
                data-parent="#slidebar-menu">
            </ul>
            </li>

        </ul>
        <li>
            <p href="/logout">Logout <%=currentUser.username %></p>
        </li>
        </div>
    </div>


   

        <div id="msg"></div>
   
        <!-- last 2 divs from top of card-->
    </div>
</div>
<div id="example"></div>
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4"> <%=currentUser.username %>, you have scored </h3> <button
                    type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-light " role="alert">
                    <p id="badge"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
$("#example").load("./config");

$("#Chapter1Button1").click(function () {
  assignTask1(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 1 button 1 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
 $("#Chapter1Button2").click(function () {
  assignTask2(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 1 button 2 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
  $("#Chapter1Button3").click(function () {
  assignTask3(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 1 button 3 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
   $("#Chapter1Button4").click(function () {
  assignTask4(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 1 button 4 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
   $("#Chapter1Button5").click(function () {
  assignTask5(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 1 button 5 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
   $("#Chapter1Button6").click(function () {
  assignTask6(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 1 button 6 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
   $("#Chapter1Button7").click(function () {
  assignTask7(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 1 button 7 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
   $("#Chapter1Button8").click(function () {
  assignTask8(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 1 button 7 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
    $("#Chapter2Button1").click(function () {
  assignChapter2Button1(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 1 button 7 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
    $("#Chapter2Button2").click(function () {
  assignChapter2Button2(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 2 button 2 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
     $("#Chapter2Button3").click(function () {
  assignChapter2Button3(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 2 button 3 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
      $("#Chapter2Button4").click(function () {
  assignChapter2Button4(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 2 button 4 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
      $("#Chapter2Button5").click(function () {
  assignChapter2Button5(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 2 button 5 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
 
 $("#Chapter2Button6").click(function () {
  assignChapter2Button6(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 2 button 6 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
      $("#Chapter2Button7").click(function () {
  assignChapter2Button7(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 2 button 7 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
      $("#Chapter3Button1").click(function () {
  assignChapter3Button1(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 3 button 1 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter3Button2").click(function () {
  assignChapter3Button2(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 3 button 2 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter3Button3").click(function () {
  assignChapter3Button3(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 3 button 3 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter3Button4").click(function () {
  assignChapter3Button4(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 3 button 4 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter4Button1").click(function () {
  assignChapter4Button1(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 4 button 1 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter4Button2").click(function () {
  assignChapter4Button2(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 4 button 2 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter4Button3").click(function () {
  assignChapter4Button3(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 4 button 3 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter4Button4").click(function () {
  assignChapter4Button4(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 4 button 4 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter4Button5").click(function () {
  assignChapter4Button5(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 4 button 5 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
     $("#Chapter5Button1").click(function () {
  assignChapter5Button1(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 4 button 1 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter5Button2").click(function () {
  assignChapter5Button2(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 5 button 2 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter5Button3").click(function () {
  assignChapter5Button3(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 5 button 3 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter5Button4").click(function () {
  assignChapter5Button4(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 4 button 4 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter5Button5").click(function () {
  assignChapter5Button5(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 5 button 5 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter5Button6").click(function () {
  assignChapter5Button6(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 5 button 5 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
   $("#Chapter6Button1").click(function () {
  assignChapter6Button1(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 4 button 1 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter6Button2").click(function () {
  assignChapter6Button2(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 6 button 2 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter6Button3").click(function () {
  assignChapter6Button3(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 6 button 3 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
  $("#Chapter7Button1").click(function () {
  assignChapter7Button1(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 7 button 1 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter7Button2").click(function () {
  assignChapter7Button2(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 7 button 2 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter7Button3").click(function () {
  assignChapter7Button3(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 5 button 3 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter7Button4").click(function () {
  assignChapter7Button4(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 7 button 4 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter7Button5").click(function () {
  assignChapter7Button5(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 7 button 5 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
 $("#Chapter8Button1").click(function () {
  assignChapter8Button1(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 8 button 1 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter8Button2").click(function () {
  assignChapter8Button2(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 7 button 2 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
 $("#Chapter9Button1").click(function () {
  assignChapter9Button1(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 9 button 1 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter9Button2").click(function () {
  assignChapter9Button2(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 9 button 2 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter9Button3").click(function () {
  assignChapter9Button3(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 9 button 3 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter9Button4").click(function () {
  assignChapter9Button4(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 9 button 4 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter9Button5").click(function () {
  assignChapter9Button5(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 5 button 5 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter9Button6").click(function () {
  assignChapter9Button6(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 9 button 7 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
   $("#Chapter9Button7").click(function () {
  assignChapter9Button7(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 9 button 7 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
  $("#Chapter10Button1").click(function () {
  assignChapter10Button1(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 9 button 1 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter10Button2").click(function () {
  assignChapter10Button2(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 10 button 2 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter10Button3").click(function () {
  assignChapter10Button3(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 10 button 3 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
  $("#Chapter11Button1").click(function () {
  assignChapter11Button1(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 11 button 1 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })
       $("#Chapter11Button2").click(function () {
  assignChapter11Button2(function(err, task){
      if(err){
          console.log(err)
      }else{
          console.log("chapter 11 button 2 pushed")
      }
  })
    document.getElementById("badge").textContent = "Assignment Made";    
 })

$("#BasicsChapter1Button1").click(function () {
    BasicsChapter1Button1(function(err, task){
        if(err){
            console.log(err)
        }else{
            console.log("BasicsChapter1Button1 pushed")
        }
    })
      document.getElementById("badge").textContent = "Assignment Made";    
   })
$("input").attr("maxlength", 8)
</script>
<% include ./partials/footer %></div>