<% include ./partials/header %>

     
        <div class="container">
       
<h1>The Name of the test is <%= quiz.name %></h1>
        <form id="quiz" name ="quiz">
            <p><%= quiz.questions[0].text %></p>
            <input id="textbox" type= "text" name = "question1">
            
            <p><%= quiz.questions[1].text %> </p>
            <input id="textbox" type= "text" name = "question2">
            
            <p><%= quiz.questions[2].text %> </p>
            <input id="textbox" type= "text" name = "question3">
            
            <p><%= quiz.questions[3].text %> </p>
            <input id="textbox" type= "text" name = "question4">
            
            <p><%= quiz.questions[4].text %> </p>
            <input id="textbox" type= "text" name = "question5">
        
        <p><input id="button" type="button" value="Check Answers" onclick = "check()"></p>
        </form>
            </div>
        
        <div id="after_submit">
            <p id="message"></p>
            <p id ="number_correct"></p>
            <img id="picture">
        </div>
          <div id="score">
              <p id="enter-score"></p>
              
          </div>
<div id="totalScore">
    <p id="totalPoints"></p>
</div>
<script>
    function check() {
    var question1 = document.quiz.question1.value;
    var question2 = document.quiz.question2.value;
    var question3 = document.quiz.question3.value;
    var question4 = document.quiz.question4.value;
    var question5 = document.quiz.question5.value;
    var correct = 0;
        var totalscore=[];
        var onePoint = <%=quiz.score - 4%>
    
    if(question1 == <%= quiz.questions[0].answers[0].answerText %>){
        correct++
    }
    if(question2 == <%= quiz.questions[1].answers[0].answerText %>){
        correct++
    }
    if(question3 == <%= quiz.questions[2].answers[0].answerText %>){
        correct++
    }
    if(question4 == <%= quiz.questions[3].answers[0].answerText %>){
        correct++
    }
    if(question5 == <%= quiz.questions[4].answers[0].answerText %>){
        correct++
    }
    
    var messages = ["Very well done! You have achieved 1 excellent slip from Mr Campbell", "That was ok", "Please try this again"];
    var pictures = ["https://media.giphy.com/media/xT1XGx3mIWL2J6PMWc/giphy.gif", "https://media.giphy.com/media/12Vujj7Zh7dTPy/giphy.gif", "https://media.giphy.com/media/3oKIPgsesMuaaa4rfO/giphy.gif"];
    var score;
    
    if(correct < 2){
        score=2;
    }
    if (correct >1 && correct < 4){
        score = 1
    }
    if (correct > 4){
        score=0;
    }
    document.getElementById("after_submit").style.visibility = "visible";
    document.getElementById("message").innerHTML = messages[score];
    document.getElementById("number_correct").innerHTML = "You answered " + correct + " questions correctly.";
    document.getElementById("picture").src=pictures[score];
        if(correct>4){
            document.getElementById("enter-score").innerHTML = "You scored " + <%=quiz.score%> + " points";
        }
        if(correct>3 && correct <5){
            document.getElementById("enter-score").innerHTML = "You scored " + <%=quiz.score - 1%> + " points";
        }
        if(correct>2 && correct <4){
            document.getElementById("enter-score").innerHTML = "You scored " + <%=quiz.score - 2%> + " points";
        }
        if(correct===2){
            document.getElementById("enter-score").innerHTML = "You scored " + <%=quiz.score - 3%> + " points";
        }
        if(correct===1){
            document.getElementById("enter-score").innerHTML = "You scored " + <%=quiz.score - 4%> + " points";
            //insert push here
            totalscore.push(onePoint);
            document.getElementById("totalPoints").innerHTML= "Total Score = " + totalscore ;
        }
        if(correct===0){
            document.getElementById("enter-score").innerHTML = "You scored " + <%=quiz.score - 5%> + " points";
        }
}
    
</script> 
        

<% include ./partials/footer %>