<% include ../partials/header %>
<!--   Video        -->
<div id="video" style="text-align: center">
    <div class="col-md-6" style="display:inline-block">
        <h3 id = "heading" class="text-center">What Number Did I start with?</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bGWUGHdq69s" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="container">
    <p id="userId"><%=currentUser.id %> </p>
</div>

<div style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block">
    <div class="col-lg-12 ms-paper-content-container" style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">
            <p>Score: <span class="ml-auto badge-pill badge-pill-info"> <%=currentUser.score %></span> Each question is
                worth 10 points.
                <strong>Good Luck!</strong> </p>
        </div>
    </div>
</div>
        <!--        First question-->
        <div class="mySlides">
            <div class="card-header">
                <h3 id="header" class="card-title">1.</h3>
            </div>
            <div class="card-body">
                <form name="quiz1">
                    <p class="q">
                        If I start with a number, multiply it by 3, add on 2, and the answer is 26. What number did I
                        start with? </p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1"></input>
                    </div>
                </form>
            </div>
        </div>
        <!--     2nd question                -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">2.</h3>
            </div>
            <div class="card-body">
                <form name="quiz2">
                    <p class="q">If I start with a number, multiply it by 5, add on 8, and the answer is 53. What number
                        did I start with?</p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--   3rd question       -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">3.</h3>
            </div>
            <div class="card-body">
                <form name="quiz3">
                    <p class="q"> If I start with a number, multiply it by 7, then subtract 12, and the answer is 30.
                        What number did I start with?</p>
                    <div class="ui input focus">
                        <input type="text" name="question1"></input>
                    </div>
                </form>
            </div>
        </div>
        <!--4th question        -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">4.</h3>
            </div>
            <div class="card-body">
                <form name="quiz4">
                    <p class="q">If I start with a number, divide it by 4, add on 9, and the answer is 17. What number
                        did I start with?</p>
                    <div class="ui input focus">
                        <input type="text" name="question1"></input>
                    </div>
                </form>
            </div>
        </div>
        <!--    5th question    -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">5.</h3>
            </div>
            <div class="card-body">
                <form name="quiz5">
                    <p class="q">If I start with a number, divide it by 9, subtract 8, and the answer is -1. What number
                        did I start with? </p>
                    <div class="ui input focus">
                        <input type="text" name="question1"></input>
                    </div>
                </form>
            </div>
        </div>
        <!--   6th question     -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">6.</h3>
            </div>
            <div class="card-body">
                <form name="quiz6">
                    <p class="q">If I start with a number, multiply it by 4, add on 8, and then multiply the result by
                        2, the answer is 64. What number did I start with?</p>
                    <div class="ui input focus">
                        <input type="text" name="question1"></input>
                    </div>
                </form>
            </div>
        </div>
        <!--        buttons-->
        <div class="container">
            <div class="row" style="margin: 0 auto">
                <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
                <button type="button" id="next1" class="btn btn-primary btn-raised" onclick="plusSlides(1)"> Next
                </button>
                <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal"
                    data-target="#myModal4"> Total Score </button>
            </div>
        </div>
        <div class="container">
            <div class="row" style="margin: 0 auto">
                <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
                    <i class="fa fa-check"></i>
                </span>
                <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
                    <i class="fa fa-remove"></i>
                </span>
            </div>
        </div>
        <div id="msg"></div>
        <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
        </div>
        <!-- last 2 divs from top of card-->
    </div>
</div>
<div id="example"></div>
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4"> <%=currentUser.username %>, you have scored </h3> <button
                    type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-light " role="alert">
                    <p id="badge"></p>
                </div>
                <div class="alert alert-danger alert-light " role="alert">
                    <p id="points"></p>
                </div>
                <div class="alert alert-info alert-light " role="alert">
                    <p id="medal"></p>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="badgeList">
  <div class="col-md-12">
      <% currentUser.quiz.forEach(function(quizName){ %>
      <div class="list-group">
        <p class="list-group-item list-group-item-action withripple">
          <span class="title"><%=quizName.name %></span><span class="theScore"><%=quizName.score %></span>
    <span class="ml-auto" id="medal">
</span>
</p>
      <% }) %>   
    </div> 
    </div> 
</div>
<script>


$("#example").load("../config");
var correct = 0;

$("#button1").click(function () {
    var question1 = document.quiz1.question1.value;
    var question2 = document.quiz2.question1.value;
    var question3 = document.quiz3.question1.value;
    var question4 = document.quiz4.question1.value;
    var question5 = document.quiz5.question1.value;
    var question6 = document.quiz6.question1.value;

    //2nd question
    if (slideIndex == 2 && question2 == 9) {
        checkAnswer10();
        showTicks10();
        questionCounter();
        numberCounterUp();
        //third question
    } else if (slideIndex == 3 && question3 == 6) {
        checkAnswer10();
        showTicks10();
        questionCounter();
        numberCounterUp();
    }
    //first question
    else if (slideIndex == 1 && question1 == 8) {
        checkAnswer10();
        showTicks10();
        questionCounter();
        numberCounterUp();
    }
    //4th question 
    else if (slideIndex == 4 && question4 == 32) {
        checkAnswer10();
        showTicks10();
        questionCounter();
        numberCounterUp();
    }
    //5th question 
    else if (slideIndex == 5 && question5 == 63) {
        checkAnswer10();
        showTicks10();
        questionCounter();
        numberCounterUp();
    }
    //6th question
    else if (slideIndex == 6 && question6 == 6) {
        checkAnswer10();
        showTicks10();
        questionCounter();
        numberCounterUp();
    } else {
        document.getElementById("wrong").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Not Yet";
        questionCounter();
        numberError();
    } 
});
    
$("input").attr("maxlength", 5)
$("#button").click(function () {
    removeTask1();
    document.getElementById("badge").textContent = `${correct} out of 6`; 
    if(correct === 3){
        document.getElementById("chap1ex1bronze").style.visibility = "visible";
        addBronze()
        trackProgress6()
        document.getElementById("points").textContent = `Points:  ${correct * 10}`;
        document.getElementById("medal").textContent = `Congratulations! You have earned a Bronze Medal!`;
    } else if (correct > 3 && correct <6){
        addSilver()
        trackProgress6()
        document.getElementById("medal").textContent = `Congratulations! You have earned a Silver Medal!`;
        document.getElementById("points").textContent = `Points:  ${correct * 10}`;
    } else if(correct === 6){
        addGold()
        trackProgress6()
        document.getElementById("medal").textContent = `Congratulations! You have earned a Gold Medal!`;
        document.getElementById("points").textContent = `Points:  ${correct * 10}`;
    } else if(correct < 3){
        document.getElementById("points").textContent = `Points: ${correct * 10}!`
        document.getElementById("medal").textContent = `Try again to earn a Medal!`;
    }
 })

</script>
<% include ../partials/footer %>